.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: "33px";
}

.aboutImg {
  width: 680px;
  height: 675px;
}
.title {
  font-size: 64px;
  font-weight: 600;
}

.description {
  font-size: 21px;
}

.imgContainer {
  position: relative;
}
.imgContainer::after {
  content: "";
  width: 60%;
  height: 111px;
  background-color: rgba(253, 111, 0, 0.6);
  position: absolute;
  top: 78px;
  right: 50%;
  transform: translateX(50%);
}

.lineContainer {
  position: relative;
  margin: 15px 0px;
}
.whiteLine {
  width: 100%;
  height: 12px;
  border-radius: 6px;
  background-color: #edecec;
}

/* UX orange line */
.uxOrangeLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 12px;
  border-radius: 6px;
  background-color: #fd6f00;
}
.uxOrangeLine::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 32px;
  height: 32px;
  background-color: #edecec;
  border-radius: 50%;
  border: 2px solid #fd6f00;
}

/* Web orange line */
.webOrangeLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 12px;
  border-radius: 6px;
  background-color: #fd6f00;
}
.webOrangeLine::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 32px;
  height: 32px;
  background-color: #edecec;
  border-radius: 50%;
  border: 2px solid #fd6f00;
}

/* app orange line */
.appOrangeLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 12px;
  border-radius: 6px;
  background-color: #fd6f00;
}
.appOrangeLine::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 32px;
  height: 32px;
  background-color: #edecec;
  border-radius: 50%;
  border: 2px solid #fd6f00;
}

/* Web orange line */
.graphicOrangeLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 12px;
  border-radius: 6px;
  background-color: #fd6f00;
}
.graphicOrangeLine::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 32px;
  height: 32px;
  background-color: #edecec;
  border-radius: 50%;
  border: 2px solid #fd6f00;
}

/* Large screen responsive */
@media only screen and (min-width: 993px) and (max-width: 1350px) {
}

/* Tablet responsive */
@media only screen and (max-width: 992px) {
}
/* Mobile responsive */
@media only screen and (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutImg {
    width: 300px;
    height: 305px;
  }
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .imgContainer::after {
    content: "";
    width: 40%;
    height: 40px;
    top: 40px;
  }
}
