.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navSecondContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  font-family: poppins;
}

.footerContainer {
  margin-top: 139px;
  padding-top: 110px;
  background-color: #f8f8f8;
}

.footerContentContainer {
  width: 90%;
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}
.copyrightContainer {
  margin-top: 62px;
  padding: 20px 10px;
  background-color: #545454;
  text-align: center;
}

.copyright {
  color: #ffffff;
}
.name {
  color: #fd6f00;
}

/* Mobile responsive */
@media only screen and (max-width: 768px) {
  .navSecondContainer {
    flex-direction: column;
  }
}
