.serviceContainer {
  margin-top: 24px;
  display: flex;
  gap: 31px;
  justify-content: space-between;
}

.serviceBox {
  background-color: #f8f8f8;
  border-radius: 14px;
  padding: 30px 20px;
  min-height: 346px;
  height: 100%;
}
.serviceIcon {
  height: 80px;
  width: auto;
}

.serviceTitle {
  font-size: 32px;
  font-weight: 600;
}
.serviceDetails {
  font-size: 19px;
  margin-top: 15px;
}
