.serviceContainer {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 31px;
}

.serviceBox {
  background-color: #f8f8f8;
  border-radius: 14px;
  padding: 30px 20px;
  min-height: 346px;
  height: 100%;
}
.serviceIcon {
  height: 80px;
  width: auto;
}

.serviceTitle {
  font-size: 32px;
  font-weight: 600;
}
.serviceDetails {
  font-size: 19px;
  margin-top: 15px;
}

/* Tablet responsive */
@media only screen and (max-width: 992px) {
  .serviceContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Mobile responsive */
@media only screen and (max-width: 768px) {
  .serviceContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .serviceIcon {
    height: 50px;
  }
  .serviceTitle {
    font-size: 24px;
  }
  .serviceDetails {
    font-size: 18px;
  }
}
