.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.embla {
  max-width: 1090px;
  margin: 0 auto;
}

.emblaContainer {
  display: flex;
  align-items: center;
}

.emblaSlide {
  flex: 0 0 80%;
  position: relative;
}

.testimonialCard {
  padding: 55px;
  background: #f8f8f8;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.testimonialImage {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  margin: 0 auto 1rem;
}
.quote {
  font-size: 32px;
  font-weight: 700;
  color: #fd6f00;
  line-height: 48px;
}
.message {
  font-size: 21px;
  line-height: 32px;
  font-style: italic;
  margin: 1rem 0;
  color: #424242;
}

.name {
  font-size: 24px;
  font-weight: 500;
}

.title {
  font-size: 19px;
}

.dots {
  display: flex;
  gap: 9px;
  margin-top: 85px;
}

.dot {
  width: 57px;
  height: 16px;
  background: gray;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dot.active {
  background: #fd6f00;
}
.emblaSlide.inactive {
  opacity: 0.2;
}

/* Mobile responsive */
@media only screen and (max-width: 768px) {
  .emblaContainer {
    gap: 0; /* Removes extra spacing */
  }
  .testimonialCard {
    width: 100vw;
    padding: 20px;
    flex-direction: column; /* Stack elements */
  }
  .emblaSlide {
    flex: 0 0 100%;
    width: 100vw;
  }
  .testimonialCard {
    padding: 16px 8px;
    border-radius: 8px;
    flex-direction: column;
  }

  .testimonialImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .quote {
    font-size: 24px;
    line-height: 32px;
  }
  .message {
    font-size: 18px;
    line-height: 24px;
  }

  .name {
    font-size: 21px;
  }

  .title {
    font-size: 18px;
  }

  .dots {
    margin-top: 40px;
  }

  .dot {
    width: 40px;
    height: 12px;
    border-radius: 5px;
  }
}
